{{page-title 'Posts'}}
<Header>Posts</Header>
<div class="d-flex justify-content-between">
<PowerSelectMultiple
  class="flex-fill"
  @selected={{this.selectedAuthors}} 
  @options={{this.authors}} 
  @searchField="username"
  @onChange={{this.chooseAuthors}} as |author|
  >
  {{author.username}}
</PowerSelectMultiple>
<div>
<label>
  Start date:
  <PikadayInput
    @format="DD-MM-YYYY"
    @value={{this.dateFrom}}
    @maxDate={{this.maxDate}}
    @onSelection={{this.onStartDayChange}}
  />
</label>
<label>
  End date:
  <PikadayInput
    @format="DD-MM-YYYY"
    @value={{this.dateTo}}
    @minDate={{this.minDate}}
    @onSelection={{this.onEndDayChange}}
  />
</label>
</div>
<div>
<button type='button' class="btn btn-danger" {{on 'click' this.resetFilters}}>Reset</button>
<button type='button' class="btn btn-primary" {{on 'click' this.onSortToggle}}>Sort {{this.sortLabel}}</button>
</div>
</div>
<Posts::List @posts={{this.sortedPosts}} />
<Post::Create />
{{outlet}}