{{page-title 'Settings'}}
<Header>Settings</Header>
<div class='container mt-5'>
  <form {{on 'submit' this.onSubmit}}>
    <div class='mb-3 row'>
      <label
        for='inputUsername'
        class='col-sm-2 col-form-label'
      >Username</label>
      <div class='col-sm-10'>
        <input
          type='text'
          class='form-control'
          id='inputUsername'
          placeholder='username'
          value={{this.model.username}}
          {{on 'input' this.onUsernameChange}}
        />
      </div>
    </div>
    <div class='mb-3 row'>
      <label for='inputEmail' class='col-sm-2 col-form-label'>Email</label>
      <div class='col-sm-10'>
        <input
          type='text'
          class='form-control'
          id='inputEmail'
          placeholder='email@example.com'
          value={{this.model.email}}
          {{on 'input' this.onEmailChange}}
        />
      </div>
    </div>
    <div class='mb-3 row'>
      <label
        for='inputPassword'
        class='col-sm-2 col-form-label'
      >Password</label>
      <div class='col-sm-10'>
        <input
          type='password'
          class='form-control'
          id='inputPassword'
          placeholder='password'
          value={{this.model.password}}
          {{on 'input' this.onPasswordChange}}
        />
      </div>
    </div>
    <div class='mb-3 row'>
      <label for='inputPhotoUrl' class='col-sm-2 col-form-label'>Photo url</label>
      <div class='col-sm-10'>
        <input
          type='text'
          class='form-control'
          id='inputPhotoUrl'
          placeholder='photo url'
          value={{this.model.photoURL}}
          {{on 'input' this.onPhotoURLChange}}
        />
      </div>
    </div>
    <div class='mb-3 row'>
      <div class='d-flex'>
        <button
          class='me-1 btn btn-primary w-50'
          type='submit'
          disabled={{this.shouldDisableButton}}
        >Change</button>
        <button
          class='ms-1 btn btn-secondary w-50'
          type='button'
          disabled={{this.shouldDisableButton}}
          {{on 'click' this.discardChanges}}
        >Cancel</button>
      </div>
    </div>
  </form>
</div>
{{outlet}}